[2019-08-09 17:52] thiamsantos opened #7 "Getting a KeyError"
I'm getting exceptions when trying to parse a message that is not encoded with avro.
[code]

I solved temporarily by using `Exception.message/1` https://github.com/thiamsantos/avrora/commit/2cfd0bf8a21ed83ab1cb0bd968ee830c5c59461d.

But we may need to treat the root cause of this problem.

[2019-08-11 16:03] Strech commented on #7
@thiamsantos can I ask you to give me a gist or something I can reproduce your issue?

[2019-08-11 18:55] Strech commented on #7
@thiamsantos Hey, I get what you mean. I take a message from your backtrace and was able to reproduce an issue.

I fix error handling and now you should receive a correct error, like `{:error, %MatchError{...}}`

[2019-08-11 18:55] #7 closed

[2019-08-12 13:22] cristopher-rodrigues commented on #7
Great thanks to having it solve so fast.

[2019-11-13 19:28] fxn opened #17 "Reuse types"
The README has examples for one type.

I have two types, `priv/.../Event.avsc`, and `priv/.../EventType.avsc`. The latter is an enum, and `Event` has a field of type `EventType`.

Encoding an event yields

[code]

Is there a way to get that working?

[2019-11-18 14:20] Strech commented on #17
@fxn Hey, sorry for a long pause, got a bit sick. I might know what you mean. A type lookup over different files. I think `avro_turf` gem even allows you to split one schema into multiple files and assemble them into one for registration in a registry.

Let me try to fix it 🔥

[2019-11-18 15:11] Strech commented on #17
Answering question

Yes, you need to add schema definition of `EventType` to `Event` schema (at least once, better to the most top place of usage)

And may I ask you to post a sample of those maybe without extra fields, to get how you try to use it?

[2019-11-18 15:14] fxn commented on #17
Wait, perhaps I am looking for something that doesn't square with Avro.

If you embed the type definition as you do in [this fixture](https://github.com/Strech/avrora/blob/master/test/fixtures/schemas/io/confluent/Messenger.avsc#L26) for `io.confluent.Message`, but in a different type you also have something of type `io.confluent.Message`, you have to duplicate the type definition there?

[2019-11-18 16:24] fxn commented on #17
Guess I was using that feature in `avro_turf` without even noticing :).

[2019-11-18 20:52] Strech commented on #17
@fxn Exactly, it works magically behind the scenes in `avro_turf`. I was postponing this feature till the last, but now I have an additional reason to work on it 😜

[2019-11-25 09:25] Strech commented on #17
@fxn Good news, I manage to have a working draft, but with some differences from `avro_turf` end-result (compiled schema is more standardized than in ruby). I hope to publish something you can try in the closest weekends ✌️

[2019-11-25 09:43] fxn commented on #17
That's awesome ❤️.

[2019-12-09 09:41] Strech commented on #17
@fxn Hey, it took me a while (a bit of family travelling 🌴), but here you can check not fully finished (few optimizations are missing) distributed schema definition feature https://github.com/Strech/avrora/pull/18

The not-so-optimal part is a N-read of the reference if it's reused in different schemas (so IO on a first read) but rest should work. Can you try it and give a feedback?

Only one impo

[2019-12-12 15:16] Strech commented on #17
Hola @fxn, a new release with inter-schema references (now complete version) was published https://github.com/Strech/avrora/releases/tag/v0.8.0

Any feedback appreciated! Happy coding ❤️

[2019-12-12 15:16] #17 closed

[2019-12-13 10:48] fxn commented on #17
Sorry for not responding earlier, thanks a lot for working on this, I'll run some tests and wil write back!

[2020-01-02 17:25] fxn commented on #17
Modulus Christmas break, I have been using 0.8.0 since it was released without any issues. Have checked some cross-references to records and enums.

Thanks for working on this ❤️.

[2020-01-02 17:47] Strech commented on #17
@fxn Woohooo, great news 😂

[2020-01-09 19:51] fxn opened #21 "Strange {:error, %ArgumentError{message: "argument error"}}"
I am not sure this is an issue with Avrora, but have nailed down to something minimal in which only Phoenix channels and Avrora are involved.

The summary of the problem is that if a channel encodes, it errs if you exercise it in more than one test. Weird, uh?

To demonstrate it, I have created [this minimal Phoenix application](https://github.com/fxn/avrora_issue). The application has [one simple

[2020-01-10 13:24] tarcisiozf commented on #21
I've had the same problem, had to use a internal fork from a previous version.

[2020-01-12 06:27] Strech commented on #21
@fxn Hey, thanks for this usecase example. I will take a look 🔎

[2020-01-13 15:54] fxn commented on #21
I have simplified the reproduction steps. Channels are not necessary, it happens with controllers too.

The [repository with the example app](https://github.com/fxn/avrora_issue) has been updated. WebSockets are removed, and there is a vanilla `PageController` that just encodes. The test suite of that contoller shows the problem. It has two tests that make requests to the same action. They pass in

[2020-01-13 22:13] Strech commented on #21
@fxn Good news, thanks to provided test case, I've manage to find out where is the problem and I'm working on a fix. The bad news are – it's not related to tests it's a general issues.

**TLRD;**

I didn't understand how long and when ETS will be removed, now I know.

**Complete answer:**

It turn out that ETS belongs to the process where it was created, so in the example you create first test cas

[2020-01-13 22:37] fxn commented on #21
Thanks!

[2020-01-18 00:17] Strech commented on #21
@fxn @tarcisiozf Hey guys, I've finished the new version and here is a branch https://github.com/Strech/avrora/pull/22

It will fix an issue with or without test modifications and the difference is only do you want to share state or not (of course not). Here is an example of what will happen in case of the ETS tables gone:

[code]

Any feedback is appreciated 🤝

[2020-01-18 09:29] fxn commented on #21
Thanks for working on this :), my test suite passes with this branch.

I am not familiar with the implementation, but let me ask you a question: Is the memory storage and internal type of storage that acts as a cache to avoid hitting the registry or file system? Why isn't that GenServer enough to address this?

[2020-01-18 14:43] Strech commented on #21
@fxn Technically yes, `Avrora.Storage.Memory` is just an in-memory cache. But it follows the same behavior as all other `Avrora.Storage`s. And if we want to stick to 1 owner for all `:ets` tables, then `Avrora.Schema` as the module who generates those tables should transfer ownership.

And here I have an OOP dilemma.

`Avrora.Schema` is a stupid module that just knows how to parse JSON and generat

[2020-01-18 17:18] fxn commented on #21
@Strech I don't know! :) I'll read the source code more in detail to understand it better.

[2020-01-18 18:56] Strech commented on #21
@fxn Cool will be great to have another pair of eyes. I will release a new version then, and if you will have any suggestions, I can apply them in a next iteration 👍

[2020-01-18 18:58] #21 closed

[2020-01-18 23:24] fxn commented on #21
@Strech perfect, thanks for the fix!

[2020-01-19 09:11] Strech commented on #21
@fxn @tarcisiozf Guys, [release 0.9.0](https://github.com/Strech/avrora/releases/tag/v0.9.0) is out! Thanks for your participation 👏

[2020-03-19 23:35] coryodaniel opened #27 "Support for schema evolution?"
I just started using Avrora and I was trying to evolve a schema. It looks like when I encode a record and a schema isn't present, avrora will store the schema in my registry, but if I make a change to my schema and encode a new record, it will use the original schema. Same thing if you clear the memory store.

I found that if you create a new version manually, avrora will get the correct one.

I'm

[2020-03-20 10:58] Strech commented on #27
Hey @coryodaniel and thanks for the report. May I ask you to describe the process which causes an issue with step-by-step instructions that I can reproduce it?

So far I understand that you have an empty registry and encode something with `schema/v1` Avrora is registering it and encode the message, then you somehow change the schema (questions: where and how?) and Avrora is still using old `schema

[2020-03-20 16:12] coryodaniel commented on #27
My hope was that #1 would work (it doesn’t). #2 works as expected.

I was editing the schema in priv/ and redeploying with Avrora encoding the new message payload. When consuming records it lacks any new fields In the new schema. I wonder if that’s worth logging a message that fields are being dropped?

Thanks,

Cory O’Daniel

[2020-03-20 16:21] Strech commented on #27
Ah, got it, then it's definitely an issue, that local schema file goes after the registry, it should be first especially on startup.

I will make this scenario locally and check that it will work correctly, also will what I can do with logging of dropped fields (agree that will be great to know that they were dropped)

[2020-03-20 17:37] coryodaniel commented on #27
Awesome, much appreciated!

[2020-03-21 21:32] kevinbader opened #28 "Decoding an encoded record wraps the produced map in a list"
Hi,

thanks for the library, looks really promising! However, I stumbled over the following, which _seems_ like a bug to me.

Consider the following Avro schema:

[code]

This schema can be used to encode `%{"baz" => "test"}`:

[code]

However, when decoding this again, the result is not a map like I would've expected; instead, the map is wrapped in a list:

[code]

Sure enough, encoding this agai

[2020-03-22 08:21] Strech commented on #28
Hi @kevinbader, this is not a bug. When you don't have a schema registry, by default Avrora is using Avro [Object Container FIles](https://avro.apache.org/docs/1.8.1/spec.html#Object+Container+Files) format, which assumes that you have always a list.

You can fine that under `format` section in the [README](https://github.com/Strech/avrora#encode2).

Here is how you can make it plain:

[code]

🤔 n

[2020-03-22 18:20] kevinbader commented on #28
Hi @Strech,

thanks for your quick response! From the docs I couldn't really tell that using OCF would always result in a list, even in case there is only a single map in the container. Given what you wrote, however, I propose to change [the spec of encode](https://github.com/Strech/avrora/blob/master/lib/avrora/encoder.ex#L111) to reflect this; currently Dialyzer thinks it always returns a binary

[2020-03-23 01:05] Strech commented on #28
Evening @kevinbader,

I re-read the docs and what I can quote from the docs:

1.

2.

As you can see, it always plural, as I understand it a block of objects can include just one for sure, but it's considered to be a container of objects and in Elixir/Erlang world it's a `List`

Completely agree 👍 Will do it

[2020-03-23 09:03] kevinbader commented on #28
You're completely right - thanks!

[2020-03-26 14:41] #28 closed

[2020-03-26 14:42] Strech commented on #28
Hey @kevinbader sorry for a long response, but I've updated master with updated typespec for `Avrora.Encoder.decode/1` and `Avrora.Encoder.decode/2`

[2020-03-30 09:51] Strech commented on #27
@coryodaniel Hey, I've a PR with fix #30 I plan to release it today/tomorrow. Any feedback is appreciated (if you have one) 🤝

[2020-03-30 22:46] #27 closed

[2020-05-24 21:24] Strech opened #31 "Schema registration tasks"
Will be good to have mix tasks to register one specific schema or all schemas (depends on arguments). Might be a need to out-of-band messages exchange, when a producer is not allowed to register schema

[2020-05-24 21:26] Strech opened #32 "Encoding with specific schema version"
For better out-of-band support will be cool to encode message with a specific version of the schema and do not register unknown schema on a resolution. When producer and consumer are not allowed to register schemas and retrieve schemas only from CSR

[2020-05-24 23:13] Strech opened #33 "Add HTTP Basic Auth"
This is needed for the [Confluent Cloud](https://docs.confluent.io/current/security/basic-auth.html)

[2020-06-03 09:06] #33 closed

[2020-06-10 10:41] apellizzn opened #35 "Obtain message metadata"
Hello, I am decoding a message using auto-dectecting schema
[code]
the result is I get is the following
[code]
I would also need the metadata for the message since I' am using event-sourcing so rather than having different topics `user-created` `user-updated` I am using a single topic `user-events` where every message can be `user.UserCreated` or `user.UserUpdated`.

Where can I get this informati

[2020-06-16 08:35] #31 closed

[2020-06-18 12:02] #35 closed

[2020-06-19 20:49] Strech opened #39 "Extract Encoders to a separate modules"
Technically we have 3 encoders

1. ObjectContainerFile
2. Registry
3. Plain

and `Avrora.Encoder` knows too much about all the things. After we introduce `Avrora.Encoder.extract_schema` the duplication of responsibilities and some functions start overlapping.

At the same time, it would be cool to have something like `Avrora.Storage` behavior.

[2020-08-11 18:05] fxn opened #40 "Subject not found"
Hi! I am a bit lost here, let me share with you this issue in case it happened to you too.

The library is trying to register a brand new schema, but it fails to do so. The result of `http_client().post(payload, headers)` in `http_client_post/2` is

[code]

but I cannot understand how's that possible, since the [API of the registry](https://docs.confluent.io/current/schema-registry/develop/api.htm

[2020-08-11 18:54] fxn commented on #40
Solved.

The registry in this platform is not Confluent's. Turns out new subjects need an explicit creation step in this one.

[2020-08-11 18:54] #40 closed

[2020-08-11 20:00] Strech commented on #40
@fxn Glad that issue resolved. Do anything that this library can improve emerge? I'm not quite sure that I understand about an explicit step. Technically the subject is registered every time you encode the payload

[2020-08-11 21:33] fxn commented on #40
I don't have enough perspective to suggest an improvement.

The first time you encode, the library performs a `POST` to register the schema, and subsequent encodings use the returned ID. Using Confluent's registry, if the subject does not exist, it is created when you `POST`. This has worked flawlessly in development using the Docker image `confluentinc/cp-schema-registry`.

However, when I starte

[2020-08-12 16:50] Strech commented on #40
@fxn Thanks for the insights, I've checked the registry you are using, what I can say – they have 2 different endpoints for new and existing schema manipulations: [create schema](https://github.com/hortonworks/registry/blob/master/schema-registry/rest-service/src/main/java/com/hortonworks/registries/schemaregistry/webservice/SchemaRegistryResource.java#L389-L390) and [update schema](https://github

[2020-08-13 13:07] blatyo opened #41 "Doesn't work with schema registry as source for writer schema"
# Expected

When I encode data with `Avrora.encode(data, schema_name: @schema, format: :registry)`, I successfully get back the encoded data.

# Actual
Whenever I encode data, I get back `{:error, :enoent}`. [this line](https://github.com/Strech/avrora/blob/master/lib/avrora/resolver.ex#L80) tries to read a file that doesn't exist yet. This project seems to assume that the writing schema will alwa

[2020-08-13 19:59] Strech commented on #41
@blatyo Hey, thanks for the issue. I have a plan to support out-of-band registration and pure reader without any attempt to write the schema. I will do it right after I finish with #39. As a very rough ETA something in 1-1.5 weeks.

With 0.9.x was an issue when people were using reader/writer approach and schemas were never updated because were found in the registry.

The idea is to have an option

[2020-09-01 18:56] Strech commented on #39
Closed by #42

[2020-09-01 18:56] #39 closed

[2020-09-01 19:00] Strech opened #43 "Offload Avrora.Encoder tests"
Encoder tests cover way too much and should cover the main logic inside the module and stop worry about codecs

[2020-09-03 21:03] Strech opened #44 "Allow auto registration of the schemas to be configured"
An idea is to be able to stop registering schemas if configured so.

[code]

When auto registration is turned off it will read the file from the disc only if the registry is not configured.

Linked #41

[2020-09-08 21:21] Strech commented on #44
Closed #45

[2020-09-08 21:21] #44 closed

[2020-09-08 21:23] Strech commented on #41
@blatyo Evening, I have some news. In Avrora 0.13 you can find a new configuration option `registry_schemas_autoreg` which can be set to `false`. It will prevent schemas from being registered and also read from the disk.

Release notes will come soon. Enjoy!

Closed #45

[2020-09-08 21:23] #41 closed

[2020-09-09 18:03] markusfeyh opened #46 "jsonschema support"
What would it take to also support jsonschema?

[2020-09-09 19:02] Strech commented on #46
Hey @markusfeyh, thanks for a question. Do you mean by that – let's accept JSON schema as a schema source? Something like this https://github.com/thedumbterminal/jsonschema-avro?

Can I ask you to share your demand on that? I think it might help me to better understand your needs.

[2020-09-09 21:51] markusfeyh commented on #46
Yes

From working with Avro and jsonschema, the jsonschema seems more ergonomic and easier for other developers to learn. I would anticipate for this to be more popular in the future.

[2020-09-14 18:09] Strech commented on #46
I've checked a Schema Registry and starting 5.5 it supports Avro, JSON Schema, and Protobuf. I will take a look at how is it working and what can be done for the support

[2020-10-27 16:32] FrancescoPessina opened #48 "Implement support of Schema Registry's schema references"
Description
===========
When consuming an Avro message with a schema which has a schema reference, the `Avrora.decode/1` function fails with `{:error, {:not_found, "type"}}`.

Schema references is a new feature introduced in Confluent Platform version 5.5.0 (see here https://www.confluent.io/blog/multiple-event-types-in-the-same-kafka-topic/#avro-unions-with-schema-references)

How to reproduce
==

[2020-10-29 11:15] Strech commented on #48
@FrancescoPessina Hey, thanks for bringing it up. In short – Avrora supports [Inter-Schema references](https://github.com/Strech/avrora/wiki/Inter-Schema-references), so you can refer to nested schemas.

In case when a writer has local schema files it should be possible to find it. And in the case when a reader gets the schema the nested one should be present inside the top-level schema.

I didn't

[2020-10-30 11:29] FrancescoPessina commented on #48
@Strech Hello and thanks for your response.

The new CSR functionality enables the "reference" from an Avro schema to another, without "copying" it entirely into the schema.
Now CSR, when a schema with references is requested via API, returns a json like this:
[code]
So when Avrora finds the items with type `org.schema_registry_test_app.avro.Result` fails because is not a recognized type.

I pushe

[2020-11-12 14:51] Strech commented on #46
I did a small research and I would say it would be problematic to add support for Protobuf and JSON Schema right here. The whole library is working with Avro. I think if it would be possible we could make a plugin system which will allow us to enable different libraries under the hood.

So far I will close this PR because I don't see a big need for those changes/investments. Thanks a lot for your

[2020-11-12 14:51] #46 closed

[2020-11-12 14:53] Strech opened #51 "Improve client errors"
It makes sense to introduce the Avro Error module with the ability to add a few more things to the client errors. It should make development and debug easier.

For instance, `:subject_not_found`, should be given with `subject` name, otherwise it's very hard to grasp which one subject, especially with the nested references feature.

[2020-11-16 17:21] Strech commented on #48
Closed via #50

[2020-11-16 17:21] #48 closed

[2020-11-17 12:30] Strech opened #53 "Replace TravisCI with Github Actions"
Since TravisCI is giving credits to run OSS it's better to move to Github ecosystem

[2020-11-17 17:07] Strech commented on #53
closed via #54

[2020-11-17 17:07] #53 closed

[2020-11-24 11:32] soundmonster opened #55 "Incorrect typespec for `Avrora.Encoder.encode/2`"
The typespec states that the second argument of `encode/2` is a keyword list with string values:
[code]

The two allowed keys in the keyword are `schema_name` (string) and `format` (_atom_). Calling this function with the format explicitly set to e.g. `:registry` causes Dialyzer to complain.

https://github.com/Strech/avrora/blob/c12c3147ebd6f0a6c0253cc4b2450a84100446bb/lib/avrora/encoder.ex#L103

[2020-11-26 11:02] Strech opened #58 "Fix Hexdoc generation"
Now in the README appear some tags which are not supported

[2020-12-07 22:14] #55 closed

[2020-12-07 22:44] Strech commented on #55
Hey @soundmonster thanks for your effort, I very appreciate it. I've closed your PR and the issue with [v0.14.1 release]( https://github.com/Strech/avrora/releases/tag/v0.14.1). Thanks a lot for the help!

[2020-12-30 03:21] arusahni opened #61 "Support for multiple registries"
First off, thank you for the library! It's very convenient.

I'm currently encountering a challenge: I'm using a library that, too, uses Avrora. However, I'd like to use a different registry than  what the library is using.

For example, the library is loading schemas from `./deps/library-name/priv/schemas`, and I'd like to use my own schemas located in `./priv/schemas`.

Is this something you wou

[2021-01-04 22:50] Strech commented on #61
Hey, @arusahni thanks for the issue 👋🏼

I would like to get a bit more details. Is that library available to check out? Do you have an example that I can test (or a simple setup)?

I think the functionality you are looking for should be possible with minimum effort, but I need a bit of time to try things out. Technically you can supervise your Avrora separate with its own settings ... in theory

[2021-01-05 13:46] arusahni commented on #61
Unfortunately, the library isn't public.

I tried spinning up a separately-managed Avrora process for my application, but hit a roadblock with process name collisions. While I could rename the main process, I couldn't specify names for the `AvroSchemaStore` and `Memory` children.

To provide some context/structure:

[code]

From my application, it'd be nice to be able to spin up a managed Avrora p

[2021-01-05 14:00] Strech commented on #61
Ah, I see. I think it would be cool to isolate Avrora while supervising it. I will check how it can be done correctly and keep syntax/usage simple as it now.

[2021-01-05 14:28] arusahni commented on #61
@Strech That would be really neat! While I'm not an Elixir expert, I'm willing to assist with any dev work if there are low-hanging tasks you'd like to offload.

Also, I realize that I may not have been as precise with my earlier description of the config. Ideally, the library could continue to use its schemas, and my application could use its own schemas.

[2021-01-05 14:37] Strech commented on #61
@arusahni Thanks for your offer, I will try to understand what we can do to implement that and will post a proposal that we can discuss and maybe check how we can split it 🤝

[2021-01-05 15:04] #58 closed

[2021-01-07 09:47] arttsu opened #62 "Support for registering schemas under custom subject"
As I understand, automatic schema registration always registers schemas under subjects named after the schema's full name (namespace + schema name). However, I've encountered a need to register a schema under a subject named after a kafka topic, because of the expectations of the system we're integrating with. I think this might be a pretty common usecase, as Confluent Schema Registry specifies To

[2021-01-07 19:42] Strech commented on #62
Hey, @arttsu thanks for raising this question. In short, I think a better manual schema registration interface definitely a thing to implement, and I would mark it as an enhancement issue.

In specific auto-registration is:

1. Not a best-practice, but more a comprehensive feature when its conventions work for you
2. Many other features require to disable it since by design reader should never reg

[2021-01-07 20:14] arttsu commented on #62
@Strech, thanks for a thorough response! Glad that better manual schema registration would be on your radar. It would definitely be sufficient for my usecase.

[2021-01-17 00:31] Strech commented on #62
Just a heads-up about schema registration, this is a sneak-peek for the upcoming functionality https://github.com/Strech/avrora/pull/63/files#diff-ff791d4f3ea77afaf2f888b918a3a15516273e8c695fa50976ba35bd22456573

I think it will not be exposed via the main `Avrora` module due to its specificity (I prefer to keep in Avrora only main flows about encoding/decoding), but can be used directly.

With it

[2021-01-18 08:17] arttsu commented on #62
Thanks for working on this, looks great! Very minor nitpick - have you considered using the name `Registrar` for the new module? To me it seems to be more correct (not a native speaker though 😄).

[2021-01-18 14:01] Strech commented on #62
@arttsu thanks for the name suggestion, I will definitely look for the better name 👍🏼

[2021-01-18 16:03] Strech opened #64 "Avrora.Storage.File.get/1 rise argument error exception instead of a result"
If make a call without linking the `Avrora` module this error occurs:

[code]

[2021-01-19 12:08] Strech opened #65 "Rewrite schema registration mix task with new functionality"
#63 allows to rewrite the `mix` task and add more to the available arguments.

Also will be good to rename the paragraph from `Mix tasks` to `Schema registration` or so

[2021-01-19 12:13] Strech commented on #62
@arttsu Thanks for your help, the #63 is in the master and will be released this week

[2021-01-19 12:13] #62 closed

[2021-01-22 23:41] #65 closed

[2021-01-22 23:56] Strech commented on #62
@arttsu It takes me a while, but here we are https://github.com/Strech/avrora/releases/tag/v0.16.0 it includes also an updated `mix` task for schema registrations. I will prepare release notes soon. Thanks for your support 🤝

[2021-01-25 08:40] arttsu commented on #62
Awesome! Thanks again for implementing and releasing this so quickly 👍

[2021-01-25 09:35] Strech opened #66 "Rework Mix task section"
Rewrite the section with a pivot to schema registration and not mix task itself

[2021-01-25 10:41] #66 closed

[2021-01-30 18:28] Strech commented on #61
@arusahni Hey, a small heads ups about the progress. I've made a research and turns out that this feature will require significant changes in some internals. But at the same time, it will be quite an interesting challenge.

So now I'm working on it but I assume it will be hard to keep it as non-breaking changes.

[2021-01-30 20:33] arusahni commented on #61
@Strech thank you for the update! I appreciate that you think this is worth including in Avrora despite the intrusiveness of the change. My offer to help still stands, so please do let me know if there's anything you could use a second set of hands on :keyboard:

[2021-01-31 23:12] Strech commented on #61
Thanks for the offer @arusahni I appreciate it. I think once the concept of the changes will settle a bit I will post it as issues with description and you can pick any you like 🤝

[2021-02-07 23:30] Strech commented on #61
@arusahni it turns out that I can introduce that feature without doing any breaking change. The configuration interface of the client module will be slightly different, but it will be compile-time, so who cares.

For more insights please check here #67

[2021-02-09 10:36] Strech commented on #61
Hey @arusahni, thanks for your support and for raising this feature request. Starting [release 0.17](https://github.com/Strech/avrora/releases/tag/v0.17.0) Avrora supports multi-client configuration 🎉

[2021-02-09 10:36] #61 closed

[2021-02-09 10:38] Strech opened #68 "Allow mix task to accept a Client to be used for registration"
It is possible starting 0.17

[2021-02-09 11:42] arusahni commented on #61
@Strech that's awesome! Thanks for all of this. I look forward to checking it out! I'll let you know how things shake out.

[2021-02-09 13:09] Strech commented on #61
Waiting for any feedback 🤝

[2021-02-19 09:04] Strech opened #71 "Drop unnecessary configuration options"
Remove configuration options:

1. `convert_map_to_proplist`
2. `convert_null_values`

[2021-02-19 09:06] Strech opened #72 "Remove plain format from decode/2 and encode/2"
Due to #70 completely remove `decode/2` and `encode/2` and keep them separate as `decode_plain/2` and `encode_plain/2`

[2021-02-19 11:00] fxn opened #73 "Warnings on compilation"
Hi! Compilation is issuing these warnings:

[code]

They are harmless, but a clean compilation would be super.

[2021-02-19 11:04] fxn opened #74 "Maintain a CHANGELOG?"
A CHANGELOG with a summary of what matters to users in each release would be really useful when upgrading.

[2021-02-19 11:22] Strech commented on #74
Hey, 👋🏼  I'm writing the release description as a changelog-like. Not sure is there any good automated way to do so?

[2021-02-19 11:24] Strech commented on #73
Hi there 👋🏼, nice catch. Will take care of it

[2021-02-19 11:35] fxn commented on #74
Where's that release description?

[2021-02-19 11:46] Strech commented on #74
It's on the [Releases](https://github.com/Strech/avrora/releases) page

[2021-02-19 12:01] #73 closed

[2021-02-19 12:16] fxn commented on #74
Ohhh, totally missed that. That was what I was looking for. Thanks!

[2021-02-19 12:16] #74 closed

[2021-02-19 17:04] Strech commented on #74
You are welcome 🤝

[2021-02-27 13:03] Strech commented on #73
Should be fixed in [v0.18](https://github.com/Strech/avrora/releases/tag/v0.18.0)

[2021-03-03 12:38] fxn commented on #73
Clean compilation! Thank you! ❤️

[2021-03-03 12:44] Strech commented on #73
Happy to hear 🤝

[2021-03-04 10:48] Strech commented on #64
Invalid

[2021-03-04 10:48] #64 closed

[2021-03-23 13:52] LostKobrakai opened #77 "Dialyzer issues with private clients"
When creating a private client dialyzer does return a bunch of errors like mismatch between `Avrora.Schema` and `CustomClient.Schema`, but also a bunch more I'm not exactly sure what they're related to.

[2021-03-26 13:39] romul opened #79 ""Messages encoded with OCF are wrapped in a List" what for?"
Is there any reason why messages encoded with `Codec.ObjectContainerFile` are wrapped in a list?

I propose to rewrite `ObjectContainerFile.decode/1` as:

[code]

[2021-03-29 20:41] Strech commented on #77
Hi @LostKobrakai, can you please provide a sample of the output and maybe steps to reproduce it. It might be that private clients need a few rounds of improvements.

[2021-03-29 21:22] #79 closed

[2021-03-30 06:03] LostKobrakai commented on #77
It seems like most surfaced just by copy pasting one of the test modules for private clients into `lib/`, so dialyzer does check them.

[2021-04-04 21:11] Strech opened #80 "Allow 3 named types to be used as root schemas"
https://avro.apache.org/docs/current/spec.html#names

Currently, `Encoder` (and `Codes.<...>`) have the guards for encoding to be just `map()` which is wrong for `Enum` and `Fixed`.

[2021-04-27 10:46] ricn opened #82 "Get schema name on decode"
Hello,

Is it possible to get the schema name that was used when decoding? I can't find it in the documentation.

I'm thinking of something like this: {:ok, decoded, schema_name} = Avrora.decode(message)

[2021-04-27 13:44] Strech commented on #82
Hi @ricn, I think currently when decoding schema registry encoded messages you will not be able to see the schema except maybe in the logs.

But you can use `Avrora.extract_schema/1` to retrieve schema the same way you decode the message. Does it make sense to you?

[2021-04-27 14:13] ricn commented on #82
Hi @Strech, Aha thanks. That's exactly what I want :+1:

[2021-04-27 14:13] #82 closed

[2021-04-27 14:31] Strech commented on #82
You are welcome @ricn 🤝

[2021-05-03 20:40] #68 closed

[2021-05-25 08:43] #77 closed

[2021-05-25 08:46] Strech opened #84 "Add deprecation warning for encode with plain format"

[2021-06-01 20:54] #80 closed

[2021-06-09 20:32] #43 closed

[2021-06-15 17:48] LostKobrakai opened #88 "Private clients hardcode schemas path at compile time"
Following up on the discussion at https://github.com/Strech/avrora/pull/86:

I've made a repo producing the issue: https://github.com/LostKobrakai/avrora_repro

I wasn't sure if us using avrora as a dependency was the reason, so I started with an umbrella, but that should actually be irrelevant. The important part is removing `_build` as the path, which was hardcoded at compile time. The steps are

[2021-06-16 10:15] Strech commented on #88
👋🏼 @LostKobrakai Thanks a lot for your effort, I will take a look and let's discuss what we can do about it in this issue 👍🏼

[2021-06-21 21:36] Strech commented on #88
Ok, I can confirm that I see the issue with umbrella releases and 2 different clients root dirs. Let me read a bit about umbrella releases

[2021-06-21 22:27] Strech commented on #88
After a few modifications of the issue reproduction repo, I would like to propose [the same way as Ecto](https://github.com/elixir-ecto/ecto/blob/v3.6.2/lib/ecto/repo.ex#L15) is doing it.

[code]

An `:otp_app` option will be for the private client only, since a shared client can't be used with more than 1 app. I've tested and it seems working fine.

Does it make sense to you? WDYT?

[2021-06-22 06:02] LostKobrakai commented on #88
The umbrella part here should really be irrelevant. The important bit is that `Application.app_dir` at compile time will point at `_build/…`, which will neither be available to releases once moved to another machine, nor when the application is used as a dependency in another project. Plain relative paths do not work given mix and releases use different folder structures.

The solution will involv

[2021-06-22 09:13] Strech commented on #88
Yeah, I get it. It actually still relevant for both Avrora and its private clients. I will push proposed configuration this week 🗓️

[2021-06-24 21:59] #88 closed

[2021-06-24 22:14] Strech commented on #88
Heads up @LostKobrakai, I would like to say thanks for your great support, it was very helpful to have an example app. [A new configuration option was added](https://github.com/Strech/avrora/releases/tag/v0.22.0) to the private client and shared client – `otp_app`, which will be used to resolve the path to the schemas in a runtime. Thanks 🎉 🍾

[2021-07-01 16:06] juanperi opened #90 "Any way to configure the registry_url at startup?"
We are currently using
[code]
to define our own client module.
But as you already know, those configurations must come from compile time environment.
Is there any way to configure it at runtime, when the application starts?
Tried looking at the supervisor tree, but didn't find anything.

Thank you in advance for your answer, and thank you for your awesome library!

[2021-07-01 16:14] juanperi commented on #90
btw, I saw other issues dealing with compile time configuration and fixes. But I haven't seen anything related to fully runtime (startup) configuration

[2021-07-02 07:42] Strech commented on #90
Hey @juanperi seems like there are some demand on runtime 😆

Since we have new configuration option `otp_app: :name` I think we can extend its usage and take most of the settings if they set from the OTP app and if not – fallback to default value.

Then the chain would be

1. If `otp_app` is set and `schemas_path` is set – apply `Application.app_dir`
2. If `otp_app` is set and schemas_path is not

[2021-07-02 07:48] juanperi commented on #90
that would still allow for 1 client for otp app, right?
What if instead we allow options to be passed when the start_link is called on the `CustomAvroClient`?
[code]
That way, the initialization of the process will be able to pass the config, and make it fully independent of any compile time dependency, and allow you to have as many configurations as you need.

The usecase i have, is that I build

[2021-07-02 07:58] Strech commented on #90
Yeah, initially the supervision tree args were complicated due to the Private client, but I guess I can take a look again into it. So will try that way

[2021-07-02 08:03] juanperi commented on #90
can you expand a bit in the complication?

[2021-07-02 08:09] Strech commented on #90
Also with `Application.get_env` I've suggested you still have control over environment, since you will be able to do it this way

[code]

[code]

because the resolution will happen in runtime, you can have different config per environment. I think it should work for you.

**P.S** Complications there because `Avrora` is not running `Avrora.Config` as a process to hold the config from supervision se

[2021-07-02 08:22] juanperi commented on #90
you are totally correct. that would work if you automatically scope the config to the current client as in your last example, we could have multiple clients, with different configurations.
That would be good enough for having custom configurations per client

[2021-07-02 08:25] Strech commented on #90
Yes, configuration will be scoped to the client, like this `get_env(:the_app, __MODULE__, :registry_url)` and `__MODULE__` will be resolved per-client.

I will open PR and mention you there 👍🏼

[2021-07-06 19:32] #90 closed

[2021-08-12 20:39] #84 closed

[2022-01-17 13:36] LostKobrakai opened #93 "Option for decoding with tagged union values"
`erlavro` has `:avro_decoder_hooks.tag_unions/0` to tag unions (e.g. of multiple records). It would be great if that hook could be enabled via some option when decoding. It seems for encoding tagged and non tagged values are supported already.

[2022-01-17 14:48] Strech commented on #93
Hi @LostKobrakai do you have a specific example of when is it needed? I'm trying to keep the library small but functional, so some features definitely not 1:1 with erlavro

[2022-01-18 10:27] Strech commented on #93
Since I'm not eating my own dog food anymore, may I ask you to share a made-up example of data and schema that I can take a look at and see what is exactly happening? We can work around to see what could be done to achieve that.

[2022-01-18 14:01] LostKobrakai commented on #93
That's the test I wrote to figure it out. Consider `record_1` and `record_2` to be role names, and each record can have role specific fields, which might or might not overlap.

[code]

[2022-02-07 23:07] Strech commented on #93
Hey @LostKobrakai sorry for a long silence, have some IRL things, I will take a look on your example this week and try to share my thoughts

[2022-03-14 21:40] Strech commented on #93
Evening @LostKobrakai I think I'm back to my nightlife and I've checked the erlavro and its tag union hook. Initially I have no interest to open access to the hook system (I don't have a good usage example), but with your case I think time comes and it makes sense to reconsider.

But instead of opening way to tag unions, I would rather open access to define custom hook which will be called inside

[2022-03-16 21:28] #93 closed

[2022-03-16 22:08] Strech commented on #93
Thanks for your help, I really appreciate it, the new configuration option `decoder_hook` was released as a part of [v0.24.0 release](https://github.com/Strech/avrora/releases/tag/v0.24.0) 🎉

[2022-06-07 13:27] adjivas opened #95 "unnamed_type error with primary type schema"
Hello,

Do is it possible to register a primary type' schema with Avrora?

A primary type schema is by example that:
[code]

When I try to save it with the `register_schema_by_name` function:
[code]

This error happen:
[code]

[2022-06-11 20:13] Strech commented on #95
Hi @adjivas initially Avrora was designed to work with Record schemas which allows you to have nested schemas of complex types. But there was no reason to register a primary type (also can't find that definition in Avro specs) yet.

Probably that type can be registered as a part of another Record schema.

[2022-08-12 13:15] adjivas commented on #95
Hi @Strech, sorry for the late reply.
There you can found a official list and a documented example of [Primitive Types](https://avro.apache.org/docs/1.11.1/specification/_print/#primitive-types) from the Avro specs:
[code]
Primitive Types exists to the side of Complex Types.

[2022-09-06 12:34] Strech commented on #95
Sorry for a long pause, I will take a look @adjivas and drop a message of what we can do about it

[2022-09-09 21:41] Strech opened #98 "Add option to enable SSL verification of registry requests"
In OTP 25 the default SSL verification type was changed from `:verify_none` to `:vefiry_peer` and we need to expose it as a setting to avoid request failures.

Context: https://github.com/Strech/avrora/pull/97

[2022-09-13 21:48] Strech commented on #95
I've re-read the documentation (also check the `erlavro` source code). And the specification says https://avro.apache.org/docs/1.11.1/specification/#primitive-types

Then I checked the erlavro and their parsing mechanism

[code]

And the result is exactly as stated in the specification, primitive types can't have any attributes thus I don't see any in the output.

Here is another answer on that to

[2022-11-29 19:12] azeemchauhan opened #101 "Empty user-agent in header when calling registry"
**Background**
AWS WAF's core managed rule group contains a rule that rejects requests missing a user-agent header. If the schema registry on AWS behind a WAF with this rule group, which blocks all requests. To avoid this, we should set a user agent in the HTTP header.

Reference:
 - [Use AWS Managed Rules to prevent common attacks](https://aws.amazon.com/premiumsupport/knowledge-center/waf-block-